body {
    height: 100%;
    width: 100%;
    background: #efefef;
    text-align: center;
}

.root-container {
    background: #fff;
    box-shadow: 0 1px 2px #999;
    margin-top: 5% !important;
    min-height: 500px;
}

.landing-container {
    margin-top: 1.5em;
    font-weight: 200;
}

.vspace {
    height: 2em;
}

.header-text {
    padding-top: 1em;
    color: rgb(33, 150, 243);
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(33, 150, 243) !important;
    font-weight: 200 !important;
}

div {
    font-weight: 300 !important;
}

.blue-font {
    color: rgb(33, 150, 243) !important;
}